<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="AddInDirectories"
                 type="NetFocus.UtilityTool.CodeGenerator.AddInSettingsHandler,NetFocus.UtilityTool.CodeGenerator" />
    </configSections>

    <AddInDirectories ignoreDefaultPath="true">
		  <AddInDirectory path="addins\" />
    </AddInDirectories>

  <appSettings>
    <add key="ApplicationName" value="Website"/>
    
    
    <add key="SiteUrls" value="D:\WebsiteFramework\Web\Urls.xml"/>
    <add key="NavBar" value="D:\WebsiteFramework\Web\ControlPanel\NavBar.config"/>
    <add key="CPReources" value="D:\WebsiteFramework\Web\Languages\zh-CN\ControlPanelResources.xml"/>
    <add key="EntityType" value="D:\WebsiteFramework\Web\AppCode\Enumerations\EntityType.cs"/>
    <add key="Urls" value="D:\WebsiteFramework\Web\AppCode\Managers\SiteUrls.cs"/>
    <add key="Skins" value="D:\WebsiteFramework\Web\Themes\Default\Skins\ControlPanel"/>
    <add key="Pages" value="D:\WebsiteFramework\Web\ControlPanel"/>
    <add key="Codes" value="D:\WebsiteFramework\Web\AppCode\Controls\ControlPanel"/>
    <add key="RequestBuilder" value="D:\WebsiteFramework\Web\AppCode\Requests\RequestBuilder.cs"/>
    <add key="Entity" value="D:\WebsiteFramework\Web\AppCode\Entities"/>
    <add key="EntityRequest" value="D:\WebsiteFramework\Web\AppCode\Requests"/>
    <add key="BusinessManager" value="D:\WebsiteFramework\Web\AppCode\Managers\BusinessManager.cs"/>
  </appSettings>
	
</configuration>
